<div class="row">
    <div class="col-md-4">
        <h1>SignUp</h1>
        {{#if hasError}}
            <div class="alert alert-danger">
                {{#each messages}}
                    {{this}}
                {{/each}}
            </div>
        {{/if}}
        <form action="/user/signup" method="post">
            <div class="form-group">
                <label for="exampleInputEmail1">Email address</label>
                <input type="email" class="form-control" id="email" name="email" placeholder="Email">
            </div>

            <div class="form-group">
                <label for="exampleInputPassword1">Password</label>
                <input type="password" class="form-control" id="password" name="password" placeholder="Password">
            </div>
            <input type="hidden" name="_csrf" value="{{csrfToken}}">
            <button type="submit" class="btn btn-default">Sign Up</button>
        </form>
    </div>
</div>